<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Water-like Gradient</title>
    <link rel="stylesheet" href="../static/files/styles/contact.css">
    <link rel="stylesheet" href="../static/files/styles/bg.css">
    <link rel="stylesheet" href="../static/files/assets/fontawesome-free-6.5.2-web/css/all.css">
</head>
<body>
    <div class="bg" id="particles-js"></div>
    <header>
        <a href="./index.html" class="navigation"><i class="fa fa-arrow-left"></i></a>
        <div class="logo">John Garang Otieno</div>
    </header>
    <div class="slider__section">
        <h4>Contact me</h4>
        <h2>Let's get in touch</h2>
        <p>or just reach out manually to hello@johngarangotieno.com</p>
    </div>
    <div class="form__section">
        <form action="#">
            <div class="form__group">
                <label for="#">Full Name</label>
                <input type="text" placeholder="Enter your fullname..." required>
            </div>
            <div class="form__group">
                <label for="#">Email Address</label>
                <input type="email" placeholder="Enter your email address..." required>
            </div>
            <div class="form__group">
                <label for="#">Phone Number</label>
                <input type="text" placeholder="(+254) 000-000-000" required>
            </div>
            <div class="form__group">
                <label for="#">Message</label>
                <textarea name="message" placeholder="Enter your message here..." rows="5"></textarea>
            </div>
            <button type="submit">Submit form <span class="fa fa-arrow-right"></span></button>
        </form>
    </div>
    <div class="reach__section">
        <div class="reach__row">
            <h4>Reach out to me</h4>
            <h2>Send me a message</h2>
            <p>Or just reach out manually to <span>hello@johngarangotieno.com</span></p>
        </div>
        <div class="reach__row">
            <div class="reach__box">
                <span class="fa-brands fa-whatsapp"></span>
                <h2>WhatsApp Chat</h2>
                <p>Connect with me directly</p>
                <a href="#">Start chat</a>
            </div>
            <div class="reach__box">
                <span class="fa-brands fa-instagram"></span>
                <h2>Instagram</h2>
                <p>Connect with me through Instagram</p>
                <a href="#">Start chat</a>
            </div>
            <div class="reach__box">
                <span class="fa-brands fa-linkedin"></span>
                <h2>LinkedIn</h2>
                <p>Check me out on LinkedIn</p>
                <a href="#">View profile</a>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="copyright">
            <p>&copy; 2026 John Garang. All rights reserved</p>
        </div>
    </footer>
    <script src="../static/files/assets/particles.js-master/demo/js/app.js"></script>
    <script src="../static/files/assets/particles.js-master/particles.js"></script>
</body>
</html>
