<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>John Garang</title>
    <link rel="stylesheet" href="../static/files/styles/style.css">
    <link rel="stylesheet" href="../static/files/styles/responsive.css">
    <link rel="stylesheet" href="../static/files/assets/fontawesome-free-6.5.2-web/css/all.min.css">
    <script src="../static/files/assets/particles.js-master/demo/js/app.js"></script>
    <script src="../static/files/assets/particles.js-master/particles.js"></script>
</head>
<body>
    <h1>Welcome to my portfolio website <br> Home</h1>
    <h1>Welcome to my portfolio</h1>
    <!-- <div id="particles-js"></div> -->
    <script src="../static/files/assets/particles.js-master/demo/js/app.js"></script>
    <script src="../static/files/assets/particles.js-master/particles.js"></script>
    <div class="side-nav">
        <!-- <div class="logo">JG<p>arang</p></div> -->
        <div class="navigation">
            <p>Navigation</p>
            <ul class="sidebar">
                <li class="active"><a href="#"><i class="fa fa-house"></i> Home</a></li>
                <li><a href="./about.html"><i class="fa fa-person"></i> About me</a></li>
                <li><a href="#"><i class="fa fa-folder"></i> Portfolio</a></li>
                <li><a href="#"><i class="fa fa-file"></i> View resume</a></li>
                <li><a href="#"><i class="fa fa-phone"></i> Contact me</a></li>
            </ul>
        </div>
        <div class="humburger">
            <span class="fa fa-bars"></span>
        </div>
    </div>
    <div class="main">
        <div class="top-nav">
            <div class="position">
                <img src="../static/files/assets/books-2596809_1280.jpg" alt="">
                <p>Web developer</p>
            </div>
            <div class="position">
                <img src="../static/files/assets/smiley-1738773_1280.jpg" alt="">
                <p>Ui/Ux Designer</p>
            </div>
            <div class="position">
                <img src="../static/files/assets/interior-4400306_1280.jpg" alt="">
                <p>Android developer</p>
            </div>
        </div>
        <div class="body-content">
            <div class="row">
                <h5>Welcome to my portfolio</h5>
                <h2>Hey! I'm John Garang</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam quod ratione minima? Illum iusto, eaque tenetur nemo non laborum accusantium hic sunt esse laboriosam delectus, repellat ratione optio, provident mollitia?</p>
                <div class="socials">
                    <a href="#" class="fa-brands fa-linkedin"></a>
                    <a href="#" class="fa-brands fa-upwork"></a>
                    <a href="#" class="fa-brands fa-twitter"></a>
                    <a href="#" class="fa-brands fa-instagram"></a>
                    <a href="#" class="fa-brands fa-youtube"></a>
                </div>
            </div>
            <div class="row">
                <div class="profile-image">
                    <img src="../static/files/assets/IMG_20240825_011317.jpg" alt="">
                </div>
                <!-- <div class="profile-box"></div> -->
            </div>
        </div>
        <div class="portfolio-content">
            <div class="card">
                <h2>Yisog website</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam exercitationem rem aliquid quisquam doloribus quos et voluptate dolorem architecto earum soluta iste odit autem dolorum ipsum, velit, voluptatum aut pariatur!</p>
                <button>View project</button>
            </div>
            <div class="card">
                <h2>Mary Anyango</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur officiis quae sint earum itaque sapiente, explicabo modi culpa dignissimos? Repellendus eaque magnam nam sit quidem asperiores aut est itaque vel?</p>
                <button>View project</button>
            </div>
            <div class="card">
                <h2>Glocode Dev</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore voluptas dignissimos architecto maiores reprehenderit? Quo nam, veniam atque rerum recusandae itaque? Tenetur, animi quod vel sint itaque repudiandae voluptas temporibus?</p>
                <button>View project</button>
            </div>
            <div class="card">
                <h2>Toystore website</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis exercitationem, excepturi, dolor ipsum aliquid, quam ab dolorem quo non fuga pariatur! Consectetur illum, veritatis dolorum quas repellat sapiente totam nobis!</p>
                <button>View project</button>
            </div>
        </div>
    </div>
    <div class="about">
        <div class="about-nav">
            <div class="sect">
                <div class="icon">
                    <b>90%</b>
                </div>
                <p>HTML</p>
            </div>
            <div class="sect">
                <div class="icon">
                    <b>75%</b>
                </div>
                <p>Css3</p>
            </div>
            <div class="sect">
                <div class="icon">
                    <b>55%</b>
                </div>
                <p>JavaScript</p>
            </div>
        </div>
        <div class="about-section">
            <div class="top"></div>
            <h2>About me</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, nisi praesentium temporibus consequuntur vel sed veritatis et fugit illum est atque pariatur debitis a! Distinctio similique voluptatem assumenda dicta libero.</p>
            <p id="second">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae doloribus minus aut minima unde odio sint velit, fugit nam, consectetur sit doloremque, dolores expedita tenetur facere. Vero doloremque odit temporibus?</p>
            <button>Download resume <i class="fa fa-angle-right"></i></button>
        </div>
    </div>
    <footer class="footer">
        <div class="copyright">
            <p>&copy; 2024 John Garang. All rights reserved</p>
        </div>
    </footer>
</body>
</html>