<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/files/styles/project-page.css">
    <link rel="stylesheet" href="../static/files/styles/responsive.css">
    <link rel="stylesheet" href="../static/files/assets/fontawesome-free-6.5.2-web/css/all.css">

</head>
<body>
    <header>
        <a href="../index.html" class="navigation"><i class="fa fa-arrow-left"></i></a>
        <div class="logo">John Garang Otieno</div>
    </header>
    <div class="slider__section">
        <h4>Browse my projects</h4>
        <h2>Crafting seamless user experiences</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi hic, quas veritatis corporis alias error aut at cumqu.</p>

    </div>
    <div class="project__section">
        <div class="project__container">
            <div class="project__box">
                <div class="project__banner">
                    <img src="../static/files/assets/images/makkybites_homepage.png" alt="">
                </div>
                <div class="project__body">
                    <h3>MakkyBites Web design and branding.</h3>
                    <div class="skill__box">
                        <span>HTML</span> <span>CSS</span> <span>Vanilla Js</span> <span>Flask</span> <span>SQL</span>
                    </div>
                </div>
            </div>
            <div class="project__box">
                <div class="project__banner">
                    <img src="../static/files/assets/images/Stealth_Pro_Mockup.png" alt="">
                </div>
                <div class="project__body">
                    <h3>StealthPro Solutions Web development.</h3>
                    <div class="skill__box">
                        <span>HTML</span> <span>CSS3</span> <span>Vanilla Js</span> <span>Figma</span>
                    </div>
                </div>
            </div>
            <div class="project__box">
                <div class="project__banner">
                    <img src="../static/files/assets/images/chsupport_flyer_deck.png" alt="">
                </div>
                <div class="project__body">
                    <h3>CHSupport Charity Web design & development.</h3>
                    <div class="skill__box">
                        <span>HTML5</span> <span>CSS3</span> <span>Vanilla Js</span> <span>SQL</span> <span>Python</span>
                    </div>
                </div>
            </div>
            <div class="project__box">
                <div class="project__banner">
                    <img src="../static/files/assets/images/farm_design_deck.png" alt="">
                </div>
                <div class="project__body">
                    <h3>Tillwise Branding</h3>
                    <div class="skill__box">
                        <span>Figma</span> <span>Photoshop</span> <span>Adobe Express</span>
                    </div>
                </div>
            </div>
            <div class="project__box">
                <div class="project__banner" id="amaniBan">
                    <img src="../static/files/assets/images/CHSupport B.Card.png" alt="">
                </div>
                <div class="project__body">
                    <h3>AMANI Africa Branding</h3>
                    <div class="skill__box">
                        <span>Figma</span> <span>Photoshop</span> <span>Adobe Express</span>
                    </div>
                </div>
            </div>
            <div class="project__box">
                <div class="project__banner">
                    <img src="../static/files/assets/images/swim_design.png" alt="">
                </div>
                <div class="project__body">
                    <h3>Swim Fit Web design</h3>
                    <div class="skill__box">
                        <span>HTML5</span> <span>CSS3</span> <span>Vanilla Js</span>
                    </div>
                </div>
            </div>
            <div class="project__box">
                <div class="project__banner">
                    <img src="../static/files/assets/images/dash.jpg" alt="">
                </div>
                <div class="project__body">
                    <h3 onclick="openModal()">NATCO Inc Web dashboard development.</h3>
                    <div class="skill__box">
                        <span>FastApi</span> <span>HTML</span> <span>CSS3</span> <span>Vanilla Js</span> <span>Figma</span> <span>SQL</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="modal">
        <div class="modal__content">
            <span class="fa fa-close" id="modalClose" onclick="closeModal()"></span>
            <div class="modal__header">
                <h2>NATCO Inc Web dashboard development</h2>
                <p> <b>Role:</b> Lead Developer </p>
            </div>
            <div class="modal__slider">
                <img src="../static/files/assets/images/dash.jpg" alt="">
            </div>
            <section>
                <h2>Project Description</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente alias molestias quisquam unde accusantium deserunt explicabo repellendus aliquam ea atque nulla, dolor, iusto iste voluptatum minima obcaecati enim officiis non?
                Aut maiores similique est, dolor itaque eum inventore reiciendis earum, ipsa obcaecati a illum optio, tenetur totam assumenda accusantium deserunt veritatis mollitia perferendis. Praesentium excepturi minima assumenda pariatur provident necessitatibus.
                Dolor laboriosam veniam ipsum doloribus iusto atque alias, id eligendi, odio praesentium quae, aut cumque dolore deleniti vitae! Incidunt natus ipsam tenetur, et hic mollitia assumenda vel? Facilis, aut ut!
                Impedit voluptates quam consequuntur sapiente libero dicta ex quidem. Tenetur, modi. Rem accusantium quibusdam iure architecto, deleniti totam expedita iusto culpa, nostrum quos modi eius mollitia molestias consequatur vel officia?</p>
            </section>
            <section id="modalBody">
                <h2>Technologies used</h2>
                <div class="skill__box">
                    <span>FastApi</span> <span>HTML</span> <span>CSS3</span> <span>Vanilla Js</span> <span>Figma</span> <span>SQL</span>
                </div>
            </section>
            <section>
                <h2>Task</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga debitis accusamus cumque assumenda maiores consequatur facere minima tenetur. Debitis quia, atque omnis id iure enim rem eveniet sit voluptatibus sunt!
                Quasi, excepturi praesentium. Vitae eius, eos dolorem corrupti omnis rem animi tenetur nisi sint. Incidunt, enim veritatis nostrum eveniet, quis perferendis voluptatum quisquam quidem illo iste vel cum, deleniti nisi.</p>
            </section>
            <section class="preview">
                <h2>Full preview</h2>
                <div class="preview__banner">
                    <img src="../static/files/assets/images/dash.jpg" alt="">
                </div>
            </section>
            <section>
                <h2>More like this</h2>
                <div class="project__container">
                    <div class="project__box">
                        <div class="project__banner">
                            <img src="../static/files/assets/images/chsupport_flyer_deck.png" alt="">
                        </div>
                        <div class="project__body" id="modalBody">
                            <h3>CHSupport Charity Web design & development.</h3>
                            <div class="skill__box" id="modalBox">
                                <span>HTML5</span> <span>CSS3</span> <span>Vanilla Js</span> <span>SQL</span> <span>Python</span>
                            </div>
                        </div>
                    </div>
                    <div class="project__box">
                        <div class="project__banner">
                            <img src="../static/files/assets/images/farm_design_deck.png" alt="">
                        </div>
                        <div class="project__body" id="modalBody">
                            <h3>Tillwise Branding</h3>
                            <div class="skill__box" id="modalBox">
                                <span>Figma</span> <span>Photoshop</span> <span>Adobe Express</span>
                            </div>
                        </div>
                    </div>
                    <div class="project__box">
                        <div class="project__banner" id="amaniBan">
                            <img src="../static/files/assets/images/CHSupport B.Card.png" alt="">
                        </div>
                        <div class="project__body"  id="modalBody">
                            <h3>AMANI Africa Branding</h3>
                            <div class="skill__box">
                                <span>Figma</span> <span>Photoshop</span> <span>Adobe Express</span>
                            </div>
                        </div>
                    </div>
                    <div class="project__box">
                        <div class="project__banner">
                            <img src="../static/files/assets/images/makkybites_homepage.png" alt="">
                        </div>
                        <div class="project__body" id="modalBody">
                            <h3>MakkyBites Web design and branding.</h3>
                            <div class="skill__box">
                                <span>HTML</span> <span>CSS</span> <span>Vanilla Js</span> <span>Flask</span> <span>SQL</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <section class="projects">
        <h1 class="title">Projects</h1>
        <div class="project-container">
            <div class="container">
                <div class="project">
                    <img src="../static/files/assets/Screenshot_4-11-2024_35124_127.0.0.1.jpeg" alt="website snapshot">
                    <div class="project-body">
                        <p>With a UX design that elevates user journey, this portfolio website showcases projects and skills and meets all the design principles necessary to attract a large volume of user traffic in the internet. Utilized HTML, CSS, and JavaScript for the front-end, and Flask for server-side functionalities.</p>
                        <a href="#">view project</a>
                    </div>
                </div>
                <div class="empty"></div>
            </div>
            <div class="container">
                <div class="empty"></div>
                <div class="project">
                    <img src="../static/files/assets/Screenshot_4-11-2024_4838_127.0.0.1.jpeg" alt="website snapshot">
                    <div class="project-body">
                        <p>Created various Charity websites for NGO organisations. Utilized HTML, CSS and JavaScript for the front-end, and Flask for back-end, intergrated secure payment Gateways, and Api’s.</p>
                        <a href="#">view project</a>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="project">
                    <img src="../static/files/assets/Screenshot_4-11-2024_41733_127.0.0.1.jpeg" alt="">
                    <div class="project-body">
                        <p>Developed a full-stack e-commerce website using HTML, CSS, JavaScript, and Bootstrap for the front-end, and Flask with MySQL for the back-end. Designed the user interface in Figma.</p>
                        <a href="#">view project</a>
                    </div>
                </div>
                <div class="empty"></div>
            </div>
            <div class="container">
                <div class="empty"></div>
                <div class="project">
                    <img src="../static/files/assets/Screenshot_4-11-2024_34653_127.0.0.1.jpeg" alt="website snapshot">
                    <div class="project-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad itaque quo labore alias minima quod a, quas officia modi explicabo aliquam! Qui ipsum, voluptatibus obcaecati blanditiis cumque tenetur rerum reprehenderit.</p>
                        <a href="#">view project</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="copyright">
            <p>&copy; 2026 John Garang. All rights reserved</p>
        </div>
    </footer>
    <script>
        function openModal() {
            document.getElementById("modal").style.display = 'block'
        }
        function closeModal() {
            document.getElementById("modal").style.display = 'none'
        }
    </script>
</body>
</html>